.home {
    background-image: url('../../assets/image.png');
    /* height: 100vh;
    width: 100vw; */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    .mainContent {

        .introduction {
            background-color: white;
            padding: 55px 35px;

            h2 {
                font-family: veneer, sans-serif;
                font-weight: 400;
                font-style: normal;
                font-size: 38pt;
                margin-bottom: 10px;
            }

            p {
                font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
                font-size: 14pt;
            }
        }

        .standings {
            /* border: 4px solid lime; */
            margin-top: 20px;
            padding: 25px 35px;

            .firstLeague {
                height: 50vh;

                .table {
                    /* border: 4px solid skyblue; */
                    width: 45vw;
                    height: 100%;
                    font-size: 12pt;
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    .innerTable {
                        /* border: 4px solid hotpink; */
                    
                        width: fit-content;
                        height: 95%;
                        background-color: rgba(239, 225, 230, 0.65);
                        display: grid;
                        grid-template-columns: 1fr 2fr repeat(5, 1fr);
                        /* gap: 5px; */
                        /* border: 3px solid yellowgreen; */
                        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

                        
                        .row {
                            display: contents;
                            background-color: aquamarine;
                            
                            &:first-of-type{
                                font-weight: 600;
                                div {
                                    background-color: #324376;
                                    color: white;
                                }
                            }
                            div {
                                border-bottom: 2px solid #324376;
                                padding: 6px;
                                display: flex;
                                align-items: center;
                                
                                border-left: 2px dashed #324376;
                                
                                &:last-of-type {
                                    background-color: #324376;
                                    color: white;
                                    justify-content: center;
                                }
                                
                                &:first-of-type {
                                    border-left: none;
                                }
                                
                            }
                        }

                        .benfica {
                            font-weight: 600;
                            div {
                                border-bottom: 2px solid #DA3E52;
                                background-color: #DA3E52;
                                color: white;

                                &:last-of-type {
                                    background-color: #DA3E52;
                                }

                            }
                        }

                        .conferenceLeague {
                            div {
                                background-color: #87D68D;
                            }
                        }

                        .europaLeague {
                            div {
                                background-color: #FEA82F;
                            }
                        }

                        .championsLeague {
                            div {
                                background-color: #59C3C3;
                            }
                        }

                        .champion {
                            div {
                                background-color: #52489C;
                                color: white;
                            }
                        }

                        .relegationPlayoff {
                            div {
                                background-color: #38405F;
                                color: white;
                            }
    
                        }

                        .relegation {
                            div {
                                background-color: #0E131F;
                                color: white;
                            }
                        }
                    }
                }
            }
        }
    }
}